{% extends './base.html.twig' %}
{% block title %} Mes listes de cadeaux {% endblock %}

{% block body %}
    {% if listes is empty %}
        <p>Vous n'avez pas encore créé de listes de cadeaux.</p>
        <p><a href="{{ path('app_liste_new') }}">Ajouter votre liste ici</a></p>
    {% else %}
        <ul>
            {% for liste in listes %}
                <li>
                    <a href="{{ path('app_liste_show', {'id': liste.id}) }}">{{ liste.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <p><a href="{{ path('app_liste_new') }}">Ajouter une nouvelle liste</a></p>
    {% endif %}
{% endblock %}