{% extends './base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

  <div class="mx-auto max-w-6xl px-4 py-8 form-background">

        <h2>Réinitialisation de mot de passe</h2>

        {{ form_start(requestPassForm) }}

        <div class="d-flex flex-column align-items-center">

            {{ form_label(requestPassForm.email)}}
            
            <div class="d-flex flex-column align-items-center w-full">
                {{ form_widget(requestPassForm.email) }}
            </div>  
            
        </div>

        <div class="centered-buttons">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(requestPassForm) }}
  </div>

{% endblock %}
