{% extends './base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

  <div class="content-center">
        <h2>Réinitialisation de mot de passe</h2>
        {{ form_start(passForm) }}
            {{ form_row(passForm.password) }}
            <div class="centered-buttons">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
            
        {{ form_end(passForm) }}
  </div>

{% endblock %}
