{% extends './base.html.twig' %}

{% block title %}MyGift{% endblock %}

{% block body %}

<div class="mh-100">
    <h1 class="text-center">Bienvenue sur MyGift</h1>
{#    <img class="" src="{{ asset('images/logoMyGift.png') }}" height="300" alt="Logo My Gift">#}
    <div class="parallax-section">
        <div class="container-fluid">
            <h1>Mon effet de parallaxe</h1>
            <p>Ceci est une section parallaxe créée avec Bootstrap.</p>
        </div>
    </div>

</div>
{% endblock %}
