{% extends './base.html.twig' %}

{% block title %}MyGift{% endblock %}

{% block body %}

    <div class="mh-100">
        <div class="parallax-section">
            <h1 class="text-center">Bienvenue sur MyGift</h1>
            <div class="container-fluid">
                <a href="{{ path('app_liste_new') }}" type="button" class="p-3 btn-home">
                    Créer votre première liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}
