<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour {{ user.firstname }}</p> <br>
<p>Veuillez cliquer <a href="{{ absolute_url(path('reset_mdp', {token: token})) }}">ici</a> afin de réinitiliser votre mot de passe</p> <br>
<p>A très bientot!</p>